body {
    font-family: 'Work Sans', sans-serif;
    background-color: #55d6aa;
}
.hello {
    position: relative;
    margin-top: 0px;
    margin-left: 50px;
    color: #FFFDD0;
    font-size: 300px;
}
.hello::after {
    bottom: 0;
    color: #D2042D;
    content: '!';
    position: absolute;
    transform: translate(0, 0);
  }
.resumebutton{
    text-align: center;
}
.resumebutton a{
    color:#444;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    border:solid #444 2px;
    border-radius: 10px;
    padding: 3px;
}
.resumebutton a:hover{
    color:#000;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    border:solid #000 3px;
    border-radius: 10px;
    padding: 3px;
}