body {
    font-family: 'Work Sans', sans-serif;
    background-color: #0b0C10;
    margin-bottom: 0;
}
.hello {
    position: relative;
    margin-top: 2px;
    margin-left: 50px;
    color: #FFFDD0;
    font-size: 300px;
}
.hello::after {
    bottom: 0;
    color: #66FCF1;
    content: '!';
    position: absolute;
  }
.resumebutton{
    text-align: center;
}
/*.resumebutton a{
    color:#C5C6C7;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    border:solid #C5C6C7 2px;
    border-radius: 10px;
    padding: 3px;
}
.resumebutton a:hover{
    color:#3500D3;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    border:solid #3500D3 3px;
    border-radius: 10px;
    padding: 3px;
}
*/